@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@import 'header.scss';
@import 'footer.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $azul-principal;
    font-weight: bold;
}